:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */

  color-scheme: light dark;

  --color: #ffffff;
  --background-color: #242424;
  color: var(--color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --color: #000000;
    --background-color: #ffffff;
    color: var(--color);
    background-color: var(--background-color);
  }
}
